<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.redrocks.service.ningxia.activity">

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.redrocks.service.ningxia.activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.redrocks.service.ningxia.activity.MainTaskActivity" />
        <activity android:name="com.redrocks.service.ningxia.activity.MainTaskActivity2" />
        <activity android:name="com.redrocks.service.ningxia.activity.MineActivity" />
        <activity android:name="com.redrocks.service.ningxia.activity.RatingActivity" />
        <activity
            android:name="com.redrocks.service.ningxia.activity.HandwritingActivity"
            android:windowSoftInputMode="stateHidden|stateUnchanged|adjustPan" />
        <activity android:name="com.redrocks.service.ningxia.activity.EvaluationActivity" />
        <activity android:name="com.redrocks.service.ningxia.activity.TaskDetailActivity" />
        <activity
            android:name=".ReportActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateHidden|stateUnchanged|adjustPan"></activity>
        <activity
            android:name="com.redrocks.service.ningxia.activity.AlbumActivity"
            android:theme="@android:style/Theme.NoTitleBar"></activity>
        <activity android:name="com.redrocks.service.ningxia.activity.ImageFile"></activity>
        <activity android:name="com.redrocks.service.ningxia.activity.ShowAllPhoto"></activity>
        <activity android:name="com.redrocks.service.ningxia.activity.GalleryActivity"></activity>
        <activity
            android:name="com.redrocks.service.ningxia.activity.DialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"></activity>
        <activity
            android:name="com.redrocks.service.ningxia.activity.HistoryTaskActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"></activity>
    </application>

</manifest>
